<h1>Breakfast Menu</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table" style="opacity: 1;">
      <thead>
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Add To Cart</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of tableData">
          <td>{{food.name}}</td>
          <td>{{food.Description}}</td>
          <td><i class="fa fa-inr" aria-hidden="true"></i> {{food.Price}}</td>
          <td><button (click)="addCart(food)"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add</button></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
