<h1>The cart</h1>
<table class="table" style="opacity: 1;">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of cart">
      <td>{{food.name}}</td>
      <td>{{food.Description}}</td>
      <td><i class="fa fa-inr" aria-hidden="true"></i> {{food.Price}}</td>
      <td><button (click)="remove(food)"><i class="fa fa-minus-circle" aria-hidden="true"></i> remove</button></td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="2"></td>
    <td colspan="2" style="border: 10px;text-align: left;">Total: <i class="fa fa-inr" aria-hidden="true"></i> {{sum}}</td>
  </tfoot>
</table>
<Button class="btn btn-success" (click)="pay()">Proceed to Pay</Button>
