<div class="container">
  <div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <span class="visible-xs navbar-brand">Sidebar menu</span>
      </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse" style="opacity:1;">
        <ul class="nav navbar-nav">
          <li class="active">Menu</li>
          <li><a routerLink="/breakfast"><i class="fa fa-apple" aria-hidden="true"></i> Breakfast</a></li>
          <li><a routerLink="/lunch"><i class="fa fa-cutlery" aria-hidden="true"></i> Lunch</a></li>
          <li><a routerLink="/snacks"><i class="fa fa-lemon-o" aria-hidden="true"></i> Snacks</a></li>
          <li><a routerLink="/tea"><i class="fa fa-coffee" aria-hidden="true"></i> Tea</a></li>
          <li><a routerLink="/dinner"><i class="fa fa-cutlery" aria-hidden="true"></i> Dinner</a></li>

          <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
