<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="jumbotron" style="text-align:center">
  <h2>
    Welcome to {{title}}!
  </h2>
</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome to {{title}}!</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li><a routerLink="/about"><i class="fa fa-handshake-o" aria-hidden="true"></i> About Us</a></li>
      <li><a routerLink="/help"><i class="fa fa-phone" aria-hidden="true"></i> Help</a></li>
      <li><a routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart<span class="badge">{{cartCount}}</span></a></li>
    </ul>
  </div>
</nav>

<div class="row" style="opacity: 0.8;">
  <div class="col-md-2">
    <app-menus></app-menus>
  </div>
  <div class="col-md-10">
    <div class="container-fluid">
      <router-outlet style="opacity: 1"></router-outlet>
    </div>
  </div>
</div>
